body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#fcd34d, #38bdf8);

}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0;
    margin: 40px auto;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #cbd5e1;
    font-size: 3em;
    cursor: pointer;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #23243a;
    color: #fcd34d;
    transition: background .18s;
}

.cell:hover {
    background: #334155;
}

h1{
    font-size: 50px;
}

#player-info{
    font-size: 25px;
}

.cell.x {
    color: #fcd34d;
}

.cell.o {
    color: #38bdf8; 
}

button{
    font-size: 30px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}
